body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --ui-body: "DM Sans";
  --web-ui-body: Lato;

  /* font sizes */
  --ui-body-size: 16px;
  --ui-subhead-size: 14px;
  --ui-caption-1-size: 12px;
  --web-display-title-1-regular-size: 32px;
  --web-ui-footer-size: 13px;
  --ui-title-size: 18px;
  --ui-caption-2-size: 11px;

  /* Colors */
  --gray-3: #828282;
  --ui-greys-grey-03: #74777a;
  --ui-black: #000714;
  --ui-transparent: rgba(255, 255, 255, 0);
  --ui-greys-grey-01: #37393d;
  --color-darkslategray-100: #333;
  --ui-primary-100: #0756ff;
  --ui-white: #fff;
  --ui-greys-grey-05: #dcdee0;
  --color-gainsboro-100: rgba(219, 219, 219, 0.8);
  --color-gainsboro-200: rgba(220, 222, 224, 0);
  --ui-greys-grey-02: #5c6066;
  --gray-2: #4f4f4f;
  --color-cornflowerblue: #4371cf;
  --color-black: #000;
  --ui-greys-grey-07: #f9f9f9;
  --ui-greys-grey-06: #f0f0f2;
  --ui-greys-grey-04: #b0b3b8;
  --color-dodgerblue: #0094ff;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-xs: 12px;
  --gap-xl: 20px;
  --gap-53xl-5: 72.5px;
  --gap-7xs: 6px;
  --gap-21xl: 40px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-10xs-5: 2.5px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-2xs-5: 10.5px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-15xl: 34px;
  --br-17xl: 36px;
  --br-12xs: 1px;
  --br-10xs: 3px;
}
