.follow-us-on {
  position: relative;
  font-size: var(--web-ui-footer-size);
  letter-spacing: 0.01em;
  line-height: 20px;
  color: var(--ui-greys-grey-01);
  display: none;
}
.social-media,
.vector-icon {
  position: absolute;
  width: 100%;
}
.vector-icon {
  height: 100%;
  top: 0.03%;
  right: -0.03%;
  bottom: -0.03%;
  left: 0.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.facebook-square-logo {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5,
.youtube-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1.03%;
  right: -0.32%;
  bottom: -1.03%;
  left: 0.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5,
.youtube-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon3,
.vector-icon4,
.vector-icon5,
.youtube-icon {
  top: 0.04%;
  right: -0.02%;
  bottom: -0.04%;
  left: 0.02%;
}
.vector-icon4,
.vector-icon5,
.youtube-icon {
  top: 0.03%;
  right: -0.01%;
  bottom: -0.03%;
  left: 0.01%;
}
.vector-icon5,
.youtube-icon {
  height: 90%;
  width: 75%;
  top: 5%;
  right: 12.5%;
  bottom: 5%;
  left: 12.5%;
}
.vector-icon5 {
  height: 100%;
  width: 100%;
  top: 0.05%;
  right: -0.05%;
  bottom: -0.05%;
  left: 0.05%;
}
.social-media-logos {
  position: absolute;
  top: 24px;
  right: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.title93 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 20px;
  text-transform: uppercase;
}
.footer-links,
.icon-size56,
.label33 {
  flex-direction: row;
  justify-content: flex-start;
}
.icon-size56 {
  overflow: hidden;
  display: none;
  align-items: flex-start;
}
.footer-links,
.label33 {
  display: flex;
}
.label33 {
  height: 24px;
  overflow: hidden;
  padding: var(--padding-10xs-5) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
}
.footer-links {
  position: absolute;
  top: 24px;
  left: -16px;
  align-items: flex-start;
  text-align: left;
  color: var(--ui-greys-grey-01);
  font-family: var(--ui-body);
}
.color5,
.divider4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.color5 {
  top: -1px;
  background-color: var(--ui-greys-grey-05);
  height: 1px;
}
.divider4 {
  top: 0;
  height: 0;
}
.links-social-media {
  position: absolute;
  width: calc(100% - 179px);
  top: 169px;
  right: 99px;
  left: 80px;
  height: 49px;
  text-align: center;
  font-family: var(--web-ui-body);
}
.equal-housing-opportunity-logo-icon {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.banklegal-logos {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
.logo-icon {
  position: relative;
  width: 260px;
  height: 56px;
}
.bank-brand {
  width: 308px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title99 {
  position: relative;
  line-height: 16px;
}
.bank-name {
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.s-laura-st {
  margin: 0;
}
.bank-address {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  align-items: flex-start;
  gap: var(--gap-base);
}
.bank-address,
.bank-info,
.section-title {
  display: flex;
  justify-content: flex-start;
}
.bank-info {
  width: 156px;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--ui-caption-1-size);
}
.section-title {
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--ui-subhead-size);
  color: var(--ui-black);
}
.title102 {
  position: relative;
  line-height: 20px;
}
.contact-us {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--ui-primary-100);
}
.section-title2 {
  width: 162px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
}
.bank-content,
.number,
.routing,
.section-title2 {
  display: flex;
  justify-content: flex-start;
}
.number {
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--ui-body-size);
  color: var(--ui-greys-grey-01);
}
.bank-content,
.routing {
  align-items: flex-start;
}
.routing {
  width: 156px;
  flex-direction: column;
  font-size: var(--ui-subhead-size);
}
.bank-content {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  gap: var(--gap-base);
}
.title109 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.copyright {
  position: absolute;
  top: 84px;
  right: 0;
  width: 1279px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--ui-caption-2-size);
  color: var(--ui-greys-grey-01);
}
.top-content {
  position: absolute;
  width: calc(100% - 179px);
  top: 48px;
  right: 99px;
  left: 80px;
  height: 120px;
  font-size: var(--ui-body-size);
  color: var(--ui-black);
}
.nymbus-accounts-are-container {
  flex: 1;
  position: relative;
  line-height: 16px;
  white-space: pre-wrap;
}
.disclaimer-text {
  position: absolute;
  width: calc(100% - 179px);
  top: 250px;
  right: 99px;
  left: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--ui-caption-1-size);
  color: var(--ui-greys-grey-02);
}
.pagefooter {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--ui-greys-grey-07);
  height: 382px;
  overflow: hidden;
}
.misc4 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.text58 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.text59 {
  flex: 1;
}
.itemgroup30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  text-align: right;
}
.checkbox25 {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.itemgroup31,
.itemgroup33 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.itemgroup33 {
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
}
.dropdown-inner {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 350px;
  height: 1px;
}
.title110 {
  position: relative;
  font-size: var(--ui-body-size);
  line-height: 23.5px;
  text-transform: capitalize;
  font-family: var(--ui-body);
  color: var(--color-cornflowerblue);
  text-align: left;
}
.contents39 {
  border-radius: var(--br-9xs);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs-5) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button19,
.webbutton14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button19 {
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  border: 1px solid var(--color-cornflowerblue);
  overflow: hidden;
}
.webbutton14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.title111 {
  position: relative;
  font-size: var(--ui-body-size);
  line-height: 23.5px;
  text-transform: capitalize;
  font-family: var(--ui-body);
  color: var(--ui-white);
  text-align: left;
}
.button20,
.buttongroup4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button20 {
  border-radius: var(--br-9xs);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-cornflowerblue);
  overflow: hidden;
  justify-content: flex-start;
}
.buttongroup4 {
  align-self: stretch;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-5xl);
  justify-content: flex-end;
  gap: var(--gap-sm);
}
.dropdown4,
.dropdown42pxactive2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown4 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  box-shadow: 0 0 4px rgba(68, 176, 255, 0.87);
  border: 1px solid var(--color-dodgerblue);
}
.dropdown42pxactive2 {
  position: absolute;
  top: 1px;
  left: 20px;
  width: 350px;
}
.addfolderframe2 {
  position: absolute;
  top: 75px;
  left: 778px;
  width: 389px;
  height: 507px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
}
.controllerinput21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  box-sizing: border-box;
  width: 257px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.close-circle-outline-icon4 {
  position: absolute;
  top: 0;
  left: 298px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.controllerinput-parent1 {
  position: relative;
  width: 318px;
  height: 40px;
}
.title112 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
}
.controllerinput22,
.top-label23 {
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.top-label23 {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  align-items: center;
  justify-content: flex-start;
}
.controllerinput22 {
  border: 1px solid var(--ui-greys-grey-05);
  font-family: var(--ui-body);
  font-size: var(--ui-subhead-size);
  background-color: var(--ui-white);
  border-radius: var(--br-9xs);
  height: 40px;
  padding: var(--padding-5xs) 0;
}
.contents41,
.controllerinput22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title113 {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.in-line-description9 {
  align-self: stretch;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--web-ui-footer-size);
  color: var(--ui-greys-grey-02);
  font-family: var(--web-ui-body);
}
.webinput11 {
  width: 143px;
  height: 64px;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.buttons6,
.content6,
.webinput11,
.webinput12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.webinput12 {
  width: 143px;
  height: 64px;
  flex-direction: column;
}
.buttons6,
.content6 {
  width: 302px;
  flex-direction: row;
  gap: var(--gap-base);
}
.content6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 374px;
  flex-wrap: wrap;
  padding: var(--padding-base);
  gap: var(--gap-21xl);
}
.foldermaster6 {
  position: relative;
  width: 350px;
  height: 144px;
}
.title116 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.chevron-down-icon12 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.controllerinput25,
.icon-size75,
.label39 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.label39 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  gap: var(--gap-5xs);
}
.controllerinput25,
.icon-size75 {
  align-items: flex-start;
}
.controllerinput25 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  color: var(--ui-greys-grey-02);
}
.icon-size75 {
  flex-direction: row;
}
.title120 {
  position: relative;
  line-height: 23.5px;
  text-transform: capitalize;
}
.contents45 {
  border-radius: var(--br-9xs);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs-5) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.button21,
.webbutton16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button21 {
  flex: 1;
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.webbutton16 {
  width: 156px;
}
.content8,
.foldermaster8 {
  box-sizing: border-box;
  width: 350px;
  height: 69px;
}
.content8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: center;
}
.foldermaster8 {
  position: relative;
  border: 1px dashed var(--ui-greys-grey-05);
  font-size: var(--ui-body-size);
  color: var(--color-cornflowerblue);
}
.additional2,
.to-account2 {
  position: relative;
  display: none;
}
.additional2 {
  line-height: 20px;
}
.itemgroup36,
.text70 {
  justify-content: flex-start;
}
.text70 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs) 0;
  align-items: flex-end;
  color: var(--gray-3);
}
.itemgroup36 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  font-size: var(--ui-body-size);
  color: var(--color-dodgerblue);
}
.vectorbg20 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  background-color: var(--ui-white);
}
.vector-child17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
  right: -10%;
  bottom: -10%;
  left: 10%;
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.vector20 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--ui-greys-grey-03);
  width: 20px;
  height: 20px;
}
.checkbox30 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.itemgroup40,
.itemgroup41 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--ui-body-size);
}
.itemgroup41 {
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
}
.text-button2 {
  position: relative;
  font-weight: 500;
}
.button23 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.icon20pxadd2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button22,
.button24 {
  justify-content: flex-start;
}
.button22 {
  display: none;
  flex-direction: row;
  padding: var(--padding-2xs) 0 var(--padding-2xs) var(--padding-5xs);
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.button24 {
  border-radius: var(--br-9xs);
  background-color: var(--ui-greys-grey-05);
  border: 1px solid var(--ui-greys-grey-05);
  overflow: hidden;
  display: flex;
}
.button24,
.buttongroup5,
.webbutton17 {
  flex-direction: row;
  align-items: flex-start;
}
.webbutton17 {
  display: flex;
  justify-content: flex-start;
  color: var(--ui-greys-grey-02);
  font-family: var(--ui-body);
}
.buttongroup5 {
  align-self: stretch;
  display: none;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-5xl);
  justify-content: flex-end;
  gap: var(--gap-53xl-5);
  font-size: var(--ui-body-size);
  color: var(--color-dodgerblue);
  font-family: var(--web-ui-body);
}
.dropdown5,
.folderselectdropdown2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown5 {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--ui-white);
  box-shadow: 0 0 4px rgba(68, 176, 255, 0.87);
  border: 1px solid var(--color-dodgerblue);
  display: flex;
  color: var(--color-darkslategray-100);
  font-family: var(--ui-body);
}
.folderselectdropdown2 {
  position: absolute;
  top: 436px;
  left: 36px;
  width: 279px;
  display: none;
  gap: var(--gap-9xs);
  color: var(--gray-2);
  font-family: var(--web-ui-body);
}
.foldersframe2,
.top-label27 {
  position: absolute;
  top: 55px;
  left: 390px;
  width: 388px;
  height: 527px;
  overflow: hidden;
}
.top-label27 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.spending-27312 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 18px;
  font-weight: 500;
  color: var(--ui-greys-grey-02);
  display: inline-block;
  width: 171px;
}
.top-label-parent5 {
  position: relative;
  width: 171px;
  height: 42px;
}
.title123 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  display: none;
}
.top-label28 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.august-3-20234 {
  position: absolute;
  top: 24px;
  left: 0;
  font-size: var(--ui-body-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--ui-greys-grey-02);
  display: none;
  width: 171px;
}
.top-label-parent6 {
  position: relative;
  width: 171px;
  height: 24px;
}
.group-parent1 {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.xxxxxxxxxxxxx1234-shell2 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 18px;
  font-weight: 500;
  color: var(--ui-greys-grey-02);
  display: inline-block;
  width: 350px;
}
.top-label-parent7 {
  position: relative;
  width: 350px;
  height: 60px;
}
.chevron-down-icon14 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.webinput15 {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.debit-card2 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 18px;
  font-weight: 500;
  color: var(--ui-greys-grey-02);
  display: inline-block;
  width: 80.25px;
}
.top-label-parent8 {
  position: relative;
  width: 350px;
  height: 42px;
}
.controllerinput28 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  box-sizing: border-box;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  color: var(--ui-greys-grey-04);
}
.controllerinput28,
.frame-container,
.web2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.web2 {
  width: 350px;
  height: 128px;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.frame-container {
  position: absolute;
  top: 20px;
  left: 20px;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.buttons8,
.webbutton18,
.webbutton19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.webbutton19 {
  color: var(--ui-white);
}
.buttons8 {
  position: absolute;
  top: 16px;
  left: 198px;
  gap: var(--gap-base);
}
.transeditbuttons-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ui-greys-grey-05);
  width: 390px;
  height: 1px;
}
.webbutton20 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.transeditbuttons2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 195px);
  background-color: var(--ui-greys-grey-07);
  width: 390px;
  height: 72px;
  overflow: hidden;
  font-size: var(--ui-body-size);
  color: var(--color-cornflowerblue);
}
.transdetailsframe2 {
  position: absolute;
  top: 55px;
  left: 0;
  width: 390px;
  height: 527px;
}
.filter-nav-item4 {
  position: absolute;
  top: 18.75%;
  left: 0;
  line-height: 18px;
  font-weight: 500;
}
.titledetails2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 32px;
}
.filter-nav-item5 {
  position: absolute;
  width: 100%;
  top: 18.75%;
  left: 0;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.titlefolders2 {
  position: absolute;
  top: 0;
  left: 147px;
  width: 50px;
  height: 32px;
  text-align: center;
  color: var(--ui-greys-grey-02);
}
.modeindicator2 {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 127px;
  height: 3px;
}
.modeselection2 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 197px;
  height: 35px;
  color: var(--color-cornflowerblue);
}
.bottomframe2 {
  position: absolute;
  top: 169px;
  left: 0;
  background-color: var(--ui-white);
  width: 390px;
  height: 582px;
}
.august-3-20235 {
  top: 128px;
  left: 20px;
  line-height: 20px;
  font-weight: 500;
}
.august-3-20235,
.div4,
.frame {
  position: absolute;
}
.div4 {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 36px;
}
.frame {
  top: 82px;
  left: 20px;
  width: 139px;
  height: 36px;
  font-size: var(--web-display-title-1-regular-size);
  color: var(--ui-black);
}
.icon85 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--ui-greys-grey-06);
  width: 40px;
  height: 40px;
}
.image-7-icon2 {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.ellipse-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
}
.div5 {
  position: relative;
  line-height: 20px;
  color: var(--ui-greys-grey-03);
}
.icon-size-container,
.lowes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.icon-size-container {
  position: absolute;
  height: 25%;
  top: 11.9%;
  bottom: 63.1%;
  left: 20px;
  flex-direction: row;
  gap: var(--gap-xs);
  color: var(--ui-greys-grey-01);
}
.closetransdetails-icon2 {
  position: absolute;
  top: 20px;
  left: 346px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor:pointer;
}
.topframe2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ui-greys-grey-07);
  border-bottom: 1px solid var(--ui-greys-grey-05);
  box-sizing: border-box;
  width: 390px;
  height: 168px;
  font-size: var(--ui-body-size);
  color: var(--ui-greys-grey-02);
}
.contents38,
.locotransdetails1 {
  top: 0;
  left: 0;
  background-color: var(--ui-white);
}
.contents38 {
  position: absolute;
  width: 390px;
  height: 751px;
}
.locotransdetails1 {
  height: calc(100% - 29px);
  bottom: 29px;
}
.locotranscard1,
.locotransdetails1,
.lookframe1 {
  position: absolute;
  width: 390px;
}
.lookframe1 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  height: 751px;
  overflow:hidden;
  z-index:22000;
}
.locotranscard1 {
  top: 128px;
  left: 1344px;
  height: 750px;
  color: var(--ui-greys-grey-01);
  opacity:0;
}
.locotranscard1 .image-7-icon2{
  display:none;
}
#transCardMerchantLogo{
  z-index:2000;
  width:40px;
  height:40px;
}
.transactionMask{
  position:absolute;
  top:128px;
  left:976px;
  width:410px;
  bottom:0px;
  background-color:white;
  z-index:20000;
  opacity:0;
  
}
@keyframes transMaskShow{
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes transMaskHide{
  from {opacity:1;}
  to {opacity:0;}
}
.showTransMask{
  animation-name:transMaskShow;
  animation-duration:0.5s;
  opacity:1;
}
.dismissTransMask{
  animation-name:transMaskHide;
  animation-duration:0.5s;
  opacity:0;
}
.showTransCard{
  animation-name:transCardLeft;
  animation-duration:0.5s;
  left:994px;
  opacity:1;
  top:128px;
  z-index:22000;
}
.dismissTransCard{
  animation-name:transCardRight;
  animation-duration:0.5s;
  left:1344px;
  opacity:0;
  z-index:22000;
}
@keyframes transCardLeft{
  from {left:1344px;opacity:0;}
  to {left:994px;opacity:1;}
}
@keyframes transCardRight{
  from {left:994px;opacity:1;}
  to {left:1344px;opacity:0;}
}
@keyframes columnsHide{
  from {opacity:1}
  to {opacity:0}
}
@keyframes columnsShow{
  from {opacity:0}
  to {opacity:1}
}
.dismissColumns{
  animation-name:columnsHide;
  animation-duration:0.5s;
  opacity:0;
}
.showColumns{
  animation-name:columnsShow;
  animation-duration:0.5s;
  opacity:1;
}
.title134 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.top-label33 {
  align-self: stretch;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title135 {
  border: 0;
  font-family: var(--ui-body);
  font-size: var(--ui-body-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--ui-greys-grey-03);
  text-align: left;
}
.controllerinput29,
.label43 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.label43 {
  height: 24px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-5xs);
}
.controllerinput29 {
  border-radius: var(--br-17xl);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  flex-direction: column;
  padding: var(--padding-7xs) 0;
  align-items: flex-start;
}
.divider5 {
  position: relative;
  width: 320px;
  height: 0;
  display: none;
}
.in-line-description12 {
  align-self: stretch;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs);
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--ui-greys-grey-02);
}
.in-line-description12,
.label44,
.webinput16 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.webinput16 {
  width: 508px;
  height: 40px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xs) 0;
  align-items: flex-start;
  gap: var(--gap-11xs);
  font-family: var(--web-ui-body);
}
.label44 {
  height: 24px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base) var(--padding-10xs-5) 0;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--ui-body-size);
  color: var(--ui-primary-100);
}
.add-filter3 {
  position: relative;
  line-height: 18px;
}
.add-filter-parent1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.add-filter-parent1,
.contents54,
.filter-chip2 {
  display: flex;
  justify-content: flex-start;
}
.filter-chip2 {
  border-radius: var(--br-15xl);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
}
.contents54 {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
}
.filtersrow1,
.searchfilters1 {
  background-color: var(--ui-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filtersrow1 {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--ui-subhead-size);
  color: var(--color-cornflowerblue);
}
.searchfilters1 {
  position: absolute;
  width: calc(100% - 181px);
  top: 72px;
  right: 101px;
  left: 80px;
  flex-direction: column;
  font-size: var(--ui-caption-1-size);
  color: var(--ui-greys-grey-01);
}
.icon-size85,
.label45 {
  overflow: hidden;
}
.label45 {
  flex: 1;
  height: 24px;
  flex-direction: row;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label45,
.label46,
.row-12 {
  display: flex;
  align-items: center;
}
.row-12 {
  width: 146px;
  height: 24px;
  flex-direction: row;
  justify-content: flex-start;
}
.label46 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
}
.label46,
.label47,
.row-62 {
  height: 24px;
  flex-direction: row;
  justify-content: flex-start;
}
.row-62 {
  width: 98px;
  display: flex;
  align-items: center;
  font-size: var(--ui-body-size);
}
.label47 {
  flex: 1;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.label47,
.row-22,
.title141 {
  display: flex;
  align-items: center;
}
.row-22 {
  flex: 1;
  height: 24px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  justify-content: flex-start;
}
.title141 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  width: 66px;
  flex-shrink: 0;
}
.label48 {
  flex: 1;
  height: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
}
.label48,
.row-42,
.title142 {
  display: flex;
  align-items: center;
}
.row-42 {
  width: 124px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--ui-body-size);
}
.title142 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  width: 106px;
  flex-shrink: 0;
}
.row-32 {
  width: 168px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--ui-body-size);
}
.label50,
.row-32,
.row-52,
.title143 {
  display: flex;
  align-items: center;
}
.title143 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
}
.label50,
.row-52 {
  height: 24px;
  flex-direction: row;
  justify-content: flex-end;
}
.label50 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-5xs);
}
.row-52 {
  width: 184px;
  text-align: right;
  color: var(--ui-greys-grey-02);
}
.contents55,
.locorows {
  box-sizing: border-box;
  width: 1264px;
}
.contents55 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.locorows {
  position: relative;
  background-color: var(--ui-white);
  border-bottom: 1px solid rgba(0,0,0,.08);
  height: 56px;
  cursor:pointer;
  align-self:stretch;
  display:flex;
  flex-direction:row;
  width:100%;
  
}
.locorows:hover{
  background-color: rgba(0,0,0,.08);
}
.icon92 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--ui-transparent);
  box-shadow: 0 0 1.73px rgba(0, 0, 0, 0.25);
}
.image-51-icon1 {
  position: absolute;
  height: 25%;
  width: 90.63%;
  top: 37.5%;
  right: 4.69%;
  bottom: 37.5%;
  left: 4.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.transactionrows {
  position: absolute;
  width: calc(100% - 181px);
  top: 188px;
  right: 101px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider6 {
  align-self: stretch;
  position: relative;
  height: 0;
}
.row-132 {
  width: 116px;
}
.label228,
.row-132,
.row-232,
.row-632 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.row-632 {
  width: 143px;
}
.label228,
.row-232 {
  flex: 1;
}
.label228 {
  overflow: hidden;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.row-332,
.row-432 {
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
}
.row-432 {
  width: 124px;
  display: flex;
  align-items: center;
}
.row-332 {
  width: 160px;
}
.label230,
.row-332,
.row-532,
.title323 {
  display: flex;
  align-items: center;
}
.title323 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.label230,
.row-532 {
  height: 24px;
  flex-direction: row;
  justify-content: flex-end;
}
.label230 {
  overflow: hidden;
  gap: var(--gap-5xs);
}
.row-532 {
  width: 184px;
  margin-right:40px;
}
.contents85,
.transactionsheader {
  height: 48px;
  display: flex;
  align-items: center;
}
.contents85 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.transactionsheader {
  position: absolute;
  width: calc(100% - 181px);
  top: 140px;
  right: 101px;
  left: 80px;
  background-color: var(--ui-white);
  flex-direction: column;
  justify-content: center;
}
.of-839 {
  position: absolute;
  top: 0;
  left: 60px;
  line-height: 16px;
}
.icon-size152,
.icon-size153 {
  position: absolute;
  top: 0;
  left: 179px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-size153 {
  left: 155px;
}
.of-839-parent {
  position: relative;
  width: 195px;
  height: 16px;
}
.color10 {
  position: absolute;
  width: 100%;
  top: -1px;
  right: 0;
  left: 0;
  background-color: var(--ui-greys-grey-05);
  height: 1px;
  display: none;
}
.paginationrowbottom {
  position: absolute;
  width: calc(100% - 181px);
  top: 1868px;
  right: 101px;
  left: 80px;
  background-color: var(--ui-white);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: right;
  color: var(--color-darkslategray-100);
}
.title324 {
  position: relative;
  line-height: 23px;
}
.tranheaderleft {
  position: absolute;
  top: 12.5px;
  left: 16px;
  width: 612px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.amount {
  align-self: stretch;
  position: relative;
  line-height: 23.5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  height: 24px;
  flex-shrink: 0;
}
.tranheaderright {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 612px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  font-size: var(--ui-body-size);
  color: var(--ui-primary-100);
}
.download-icon {
  position: absolute;
  top: 12px;
  left: 1224px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.transactionsheader1 {
  position: absolute;
  width: calc(100% - 181px);
  top: 24px;
  right: 101px;
  left: 80px;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--ui-white);
  height: 48px;
  overflow: hidden;
  font-size: var(--ui-title-size);
}
.logo-icon1 {
  position: absolute;
  top: calc(50% - 28px);
  left: 0;
  width: 260px;
  height: 56px;
}
.title326 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.contents86,
.controllerinput30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.controllerinput30 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--ui-white);
  border: 1px solid var(--ui-greys-grey-05);
  overflow: hidden;
  padding: var(--padding-5xs) 0;
  justify-content: flex-start;
  font-size: var(--ui-body-size);
  color: var(--ui-black);
}
.contents86 {
  width: 320px;
  justify-content: center;
}
.title327 {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--ui-subhead-size);
  color: var(--ui-greys-grey-01);
}
.messages {
  height: 24px;
  overflow: hidden;
  display: none;
  padding: var(--padding-10xs-5) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.logout,
.messages,
.options {
  flex-direction: row;
  gap: var(--gap-base);
}
.logout {
  height: 24px;
  overflow: hidden;
  display: none;
  padding: var(--padding-10xs-5) 0 var(--padding-10xs-5) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.options {
  position: absolute;
  top: calc(50% - 28px);
  right: -6px;
  display: flex;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.brandbar {
  position: absolute;
  width: calc(100% - 181px);
  top: 0;
  right: 101px;
  left: 80px;
  height: 64px;
  overflow: hidden;
}
.indicator3,
.label232 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.label232 {
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.indicator3 {
  position: relative;
  background-color: var(--ui-primary-100);
  height: 4px;
}
.controllertabs2,
.webtabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controllertabs2 {
  background-color: var(--ui-transparent);
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  justify-content: center;
  gap: var(--gap-9xs);
}
.webtabs {
  justify-content: flex-start;
  color: var(--ui-primary-100);
}
.indicator4 {
  align-self: stretch;
  position: relative;
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
}
.webtabs1 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.webtabs2 {
  color: var(--ui-greys-grey-02);
}
.webtabs2,
.webtabs5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.controllertab-menus,
.controllertab-menus1 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.controllertab-menus {
  left: 0;
}
.controllertab-menus1 {
  right: -13px;
}
.sitebar {
  position: absolute;
  width: calc(100% - 181px);
  top: 64px;
  right: 101px;
  left: 80px;
  height: 40px;
  text-align: center;
  color: var(--ui-greys-grey-01);
}
.color11 {
  position: absolute;
  width: 100%;
  top: -1px;
  right: 0;
  left: 0;
  background-color: var(--ui-primary-100);
  height: 1px;
}
.divider10 {
  top: 104px;
  height: 0;
}
.divider10,
.mainscroll,
.pageheader {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.pageheader {
  top: -104px;
  background-color: var(--ui-white);
  height: 104px;
  text-align: right;
  font-size: var(--ui-body-size);
}
.mainscroll {
  top: 104px;
  height: 1936px;
  color: var(--ui-black);
}
.viewframe {
  position: relative;
  background-color: var(--ui-white);
  width: 100%;
  height: 2422px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--ui-subhead-size);
  color: var(--color-black);
  font-family: var(--ui-body);
}
